body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(204, 207, 255);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}

nav {
    /*border: 1px black solid;*/
    text-align: center;
    padding: 30px;
    background-color: rgb(146, 140, 255);




}

.specificLink {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover .divNav {
    background-color: rgb(52, 46, 176);

    border-color: rgb(57, 46, 176);
    color: white;
}

.divNav {
    border: solid 1px rgb(226, 225, 255);
    display: inline;
    padding: 15px;
    background-color: rgb(225, 226, 255);


}


#introductionPara {
    margin: auto;
    padding: 20px;
    text-align: center;
    /*width: 425px;*/

}

#skillList {
    text-align: center;
    border: solid 1px black;
    padding: 15px;
    width: 200px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(227, 225, 255);
}


.miniHeading {
    padding: 10px;
}

.heading {
    padding: 10px;
}


.description {
    padding: 10px;
}



.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.imgText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}



.imgNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/*Phone Screen*/

@media (max-width:600px) {

    img {
        width: 450px;
        height: auto;
    }




}


/*Tablet Screen*/
@media (min-width: 600px) and (max-width: 1000px) {

    body {
        font-size: large;
    }

    #skillList {
        width: 400px;
    }


    #websiteContent {
        margin-left: 75px;
        margin-right: 75px;
    }


    img {
        width: 600px;
        height: auto;
    }

}


/*Desktop Screen*/
@media (min-width:1000px) {

    html {
        background-color: rgb(31, 36, 91);
    }

    body {
        margin-left: 150px;
        margin-right: 150px;
        border: solid 2px black;
        text-align: center;
        font-size: larger;

    }

    #skillList {
        width: 400px;
    }



    img {
        width: 650px;
        height: auto;
    }

}
