//Need three different screen widths


//Media queries work!

//general font stylings
h1,
h2,
h3 {
    font-family: verdana, sans-serif;
    //font family
}

p {
    font-family: arial;
    font-size: 1.25em;
    //corresponding family which should be compatible
}

h1 {
    font-size: 5em;
    //making font larger
}

h2 {
    font-size: 3em;
    //making font larger
}

h3 {
    font-size: 2em;
    //making font larger
}





//created a mixin for each breakpoint/device

@mixin phoneformat {

    @media (max-width: 600px) {
        //largest it can go is 600px

        //phones
        body {
            //background-color: rgb(255, 244, 191);
            text-align: center;
            //background image
            background-image: url("https://wallpapers.com/images/hd/light-yellow-background-mv77cxaxfh2k9cwd.jpg");
        }

        //synopsis, the description at the beginning on why I decided on UCF
        #synopsis {
            background-color: $ucforange;
            padding: 10px;
            border-radius: 25px;
            border: dotted 3px $ucfblack;
        }

        //image that is inside header
        .headerImage {
            width: 100%;
            opacity: 70%;
            height: auto;
            //lowered opacity so it is not main focus but a nice detail
        }


        //the start of the grids
        .freshmenGrid {
            background-color: $ucfgray;
            display: grid;
            grid-template-columns: auto;
            //one column for the phone
            padding: 10px;
            border: solid 5px rgb(253, 255, 205);
            border-radius: 25px;
        }

        //styling for all grid items
        .grid-item {
            background-color: $ucfyellow;
            border: solid 1px $ucfblack;
            border-radius: 25px;
            padding: 10px;
        }

        //soph grid is second grid for sophomore year
        .sophGrid {
            background-color: $ucfgray;
            display: grid;
            grid-template-columns: auto;
            //also one column
            padding: 10px;
            border: solid 5px rgb(253, 255, 205);
            border-radius: 25px;
        }

        //general styling for images
        img {
            height: 300px;
            width: 300px;
            display: 100%;
        }

        //this is so that every title stands out more
        .title {
            background-color: $ucforange;
        }

    }
}



//next mixin for tablet styling
@mixin tabletformat {

    @media (min-width: 600px) and (max-width: 1000px) {
        //needs both min and max, so it does not overlap

        //tablet

        body {
            //general body css
            //background-color: rgb(255, 244, 191);
            text-align: center;
            //background image which is required
            background-image: url("https://wallpapers.com/images/hd/light-yellow-background-mv77cxaxfh2k9cwd.jpg");

        }

        //synopsis is still description at the top

        #synopsis {
            background-color: $ucforange;
            padding: 10px;
            border-radius: 25px;
            border: dotted 3px $ucfblack;
            //this is the information at the top, above the grid
        }


        .headerImage {
            //image in the header
            width: 100%;
            opacity: 70%;
            height: 50%;
        }

        //THE GRID.
        //This is the grid for tablet


        .freshmenGrid {
            background-color: $ucfgray;
            display: grid;
            grid-template-columns: 50% 50%;
            //the 50% 50% is since there are two columns, and this way
            //the columns are the same size, instead of fitting to the content
            border: solid 5px rgb(253, 255, 205);
            border-radius: 25px;
        }

        .grid-item {
            //general grid item styling
            background-color: $ucfyellow;
            border: solid 1px $ucfblack;
            border-radius: 25px;
            padding: 20px;
        }

        .sophGrid {
            //same as above grid, equal sizes
            background-color: $ucfgray;
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 10px;
            border: solid 5px rgb(253, 255, 205);
            border-radius: 25px;
        }

        img {
            //styling for images
            height: 300px;
            width: 300px;
            display: 100%;
        }

        .title {
            //this gives the color to the titles and makes the boxes more
            //form-fitting
            background-color: $ucforange;
            margin-top: auto;
            margin-bottom: auto;
        }

        //"item" describes the p tags, similar to "title" tag
        .item {
            text-align: center;
        }

        //flex container needed for images since they won't go next to each other
        //in the grid.  While it is not perfect, they ARE next to each other
        //the alternative would be them stacked all the way on the left
        .flexContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        //same deal as previous, just for second set of images
        #flexSophContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }
}


//next mixin for the computer format

@mixin computerformat {

    @media (min-width:1000px) {
        //minimum is 1000


        //computer

        body {
            //body styling, background image required
            background-image: url("https://wallpapers.com/images/hd/light-yellow-background-mv77cxaxfh2k9cwd.jpg");
            text-align: center;
        }

        #synopsis {
            //description at top, as previously stated
            background-color: $ucforange;
            padding: 10px;
            border-radius: 25px;
            border: dotted 3px $ucfblack;
        }


        .freshmenGrid {
            //the grid for freshmen and sophomore year
            background-color: $ucfgray;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            //since there are three columns that I wanted to be equal,
            // 100/3 is 33.33333, so this percentage is the closest
            padding: 10px;
            border: solid 5px rgb(253, 255, 205);
            border-radius: 25px;
        }

        .grid-item {
            //general styling for all grid items
            background-color: $ucfyellow;
            border: solid 1px $ucfblack;
            border-radius: 25px;
            padding: 20px;
        }

        //this is very specific formatting for each grid item
        //each has their own specific ID

        #summerTitle {
            //title for summer
            grid-column-start: 1;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }

        #summerContent {
            //content for summer, underneath title
            grid-column-start: 1;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }

        #fallTitle {
            //title for fall
            grid-column-start: 2;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }

        #fallContent {
            //content underneath fall title
            grid-column-start: 2;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }

        #springTitle {
            //title for spring
            grid-column-start: 3;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }

        #springContent {
            //content under spring title
            grid-column-start: 3;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }


        .flexContainer {
            //flex needed for images to be side by side
            //they also are not perfect, as flex boxes mixed with grids are confusing
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        img {
            //general image styling, not all are the same, these are larger
            width: 450px;
            height: 450px;
        }

        .sophGrid {
            //grid for sophomore year
            background-color: $ucfgray;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            //three columns, equal size
            padding: 10px;
            border: solid 5px rgb(253, 255, 205);
            border-radius: 25px;
        }

        //same situation as previous
        #summerSophTitle {
            //summer title
            grid-column-start: 1;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }

        #summerSophContent {
            //summer content
            grid-column-start: 1;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }

        #fallSophTitle {
            //fall title
            grid-column-start: 2;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }

        #fallSophContent {
            //fall content
            grid-column-start: 2;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }

        #springSophTitle {
            //spring title
            grid-column-start: 3;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }

        #springSophContent {
            //spring content
            grid-column-start: 3;
            grid-column-end: span 1;
            grid-row-start: 2;
            grid-row-end: span 1;
        }

        #flexSophContainer {
            //same flex box as previous
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .title {
            //this colors every title
            background-color: $ucforange;
        }





        .headerImage {
            //specific styling for image in the header,
            //could not stretch it properly without it being messed up
            //So yes this is intentional
            display: 100%;
            height: 400px;
            width: auto;
            padding: 10px;
            background-color: $ucfgray;
            margin-left: auto;
            margin-right: auto;
        }


        //conditional mixin

        /*This mixin creates an orange background for every even image.  So images
        two and four have an orange background, whereas the first and third have a yellow background

        since this had to be in a mixin, I put it only in the computer version of the website*/
        $boxcounter: 4;

        @for $i1 from 1 through $boxcounter {

            //counts through, 1-4
            @if $i1 % 2==0 {

                //if the number it is on is even, do this
                .n#{$i1} {
                    background-color: $ucfyellow;
                    //yellow background

                }
            }

            //if not even, do this

            //odd
            @else {
                .n#{$i1} {
                    background-color: $ucfdarkerorange;
                    //dark orange backgroudn
                }
            }
        }

    }


}