//colors
$ucfyellow: rgb(255, 227, 69);
$ucfgray: rgb(61, 61, 61);
$ucforange: rgb(255, 194, 114);
$ucfdarkerorange: rgb(255, 156, 114);
$ucfblack: black;

//five variables, all colors for the palette
//This also meets the requirements